@charset "utf-8";
body{
	width:80%; 
	margin-left:10%; 
	margin-right:10%;
	font-family: 'Roboto', sans-serif;
	align:center;
	line-height:2.5em;

}
submenu:hover{
    background:#ddd;
    cursor:pointer;
}
.pares{
	background-color:#B0B0B0;
	text-align:center; 
	margin:1px; 
	clear:both; 
}
.impares{
	clear:both;
	background-color:#7C7C7C;
	
}
h2{
	text-align:center;
}
.izquierda{
	width:45%; 
	float:left;
	margin-right:20px;
}
.derecha{
	width:45%; 
	float:left;
	margin-right:20px;

}
.sesenta{
	margin-left:5px;
	margin-top:20px;
	width:55%; 
	float:left;
}
img{
	margin-top:20px;
	border-radius:5%;
	}
.primerDIV{
	
	position: fixed; 
	right: 0%; 
	margin-right: 1%;
}
.banderas{
	width:60px;
}
	

.segundoDIV{
	width:7%;
	FLOAT:LEFT;
	height:8em;
	margin-left:-5%;
}
.seccion{
	width:100%;height:120%;
	background: whitesmoke;
	padding-bottom:7em;
	font-size:1vw;
	padding-bottom:20%;
}
.seccion2{
	margin:0;
	padding:0;
	width:100%;
	height:50%;
	background:grey;
}
.cuerpo{
	height:100%;
}
.Informacion{
	width:50%; 
	float:left;
	background: whitesmoke;
}

.SeccionInfo{
	height:100%;
	background:whitesmoke;
	padding:1em;
	
}
.foto1{
	width:65%;
}
.foto2{
	width:25%;
}
.foto3{
	width:65%;
}
.foto4{
	width:55%;
}
