/*ciclos*/
#ciclo{
   text-align:center;
   font-family:Arial, Helvetica, sans-serif;
}
#ciclo p{
   text-align:left;
   padding:1px;
   font-family:Arial, Helvetica, sans-serif;
}
#ciclo ul{
   text-align:left;
   font-family:Arial, Helvetica, sans-serif;
}
#ciclo li{
   font-style:bold;
  font-weight:bold;
  font-family:Arial, Helvetica, sans-serif;
}
#ciclo h2{
   border-bottom:1px solid black; 
}
#ciclo h3{
   border-bottom:1px dashed black;
}
